<div class="jumbotron">
  <h1 class="display-4">Friends Finder</h1>
  <p class="lead">
    Wanna Meet new friends within your surrounding!!!
  </p>
  <hr class="my-4" />
  <p class="lead">
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
  </p>
</div>